{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    </head>
    <body>
  <div class="profile-container">
    <div class="profile-header">
      {% if pro.profile_image %}
        <div class="profile-img" style="background-image:url('{{ pro.profile_image.url }}')"></div>
      {% else %}
        <div class="profile-img" style="background-image:url('https://i.pravatar.cc/240?img=5')"></div>
      {% endif %}
    </div>

    <div class="profile-body">
      <h2>{{ pro.user.username }}</h2>
      <p class="role">QuickMart Member</p>

      <div class="profile-details">
        <div class="detail-item"><i class="fa-solid fa-envelope"></i> <span>Email:</span> {{ pro.email }}</div>
        <div class="detail-item"><i class="fa-solid fa-location-dot"></i> <span>Address:</span> {{ pro.address }}</div>
        <div class="detail-item"><i class="fa-solid fa-phone"></i> <span>Phone:</span> {{ pro.phone_number }}</div>
      </div>

      <a href="{% url 'edit_profile' %}" class="btn-edit"><i class="fa-solid fa-pen"></i> Edit Profile</a>
    </div>
  </div>

</body>
</html>



